:root {
    font-family: Arial, Helvetica, sans-serif;
}

.bloque {
    align-items: center;
    display: grid;
    height: 300px;
    margin: 2em;
    text-align: center;
    width: 600px;
}

.bloque:nth-child(1) { background-color: palegreen; }
.bloque:nth-child(2) { background-color: paleturquoise; }
.bloque:nth-child(3) { background-color: palegoldenrod; }
.bloque:nth-child(4) { background-color: palevioletred; }
.bloque:nth-child(5) { background-color: plum; }

.miniBloque {
    height: 200px;
    width: 200px;
}

.flex-horizontal {
    display: flex;
}

#bloque p {
    color: white;
    font-weight: bold;
}

.btn {
    background-color: #fa8176;
    border: none;
    border-radius: 2em;
    color: white;
    font-size: 1em;
    font-weight: bold;
    margin: 0.5em;
    padding: 1em 2em;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #d85f54;
}

.btn-green {
    background-color: rgb(119, 218, 119);
}

.btn-green:hover {
    background-color: rgb(72, 139, 72);
}

.italic {
    font-style: italic;
}

.resaltado {
    color: blue;
    font-weight: bold;
    font-style: italic;
}

p.parrafo { 
    border-radius: 2em;
    font-weight: bold;
    padding: 0.5em 1em;
}

p.parrafo:nth-child(1) { background-color: paleturquoise; }
p.parrafo:nth-child(2) { background-color: palevioletred; }
p.parrafo:nth-child(3) { background-color: palegreen; }
p.parrafo:nth-child(4) { background-color: palegoldenrod; }

table {
    border-collapse: collapse;
}

table th, td {
    border: 2px solid black;
    color: white;
    padding: 0.5em 1em;
}